[alias]
	st = status
	cm = commit -v

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --all
  lf = log --oneline --decorate --graph --abbrev-commit --compact-summary

[user]
	name = Michael Conrads
	email = michaelconrads@me.com
[commit]
	verbose = false
[diff]
	algorithm = histogram

[pull]
	rebase = true
[rebase]
	autostash = true
[push]
	autoSetupRemote = true
